@charset "UTF-8";

:root {
  --navbar-bg:#191a1c;

  --orange-extra-dark: rgba(244, 90, 56, 0.18); //  accent/orange/50
  --orange-dark: #7b330b;
  --orange-regular: #F45A38;  // accent/orange

  --green-dark: #278e6f;
  --green-regular: #3BDFAE; //  state/green

  --red-dark: #791c1c;
  --red-regular: #E9283F; // state/red

  --black-dark: #0C0D0F; // surface/black
  --black-regular: #191A1CE0; // surface/100
  --black-light: #FFFFFF08; 
  
  --skeleton-color: #ffffff14;

  --white-regular: #FFFFFF;
  --white-transparent: rgba(255, 255, 255, 0.05);

  --border: #FFFFFF08;

  --gray-dark: #FFFFFF2E; // surface/50
  --gray-regular: #5F6163;  // txt/forms
  --gray-light: #9B9DA0;  // txt/200

  --navbar-height: 60px;

  --z-index-navbar: 10;
  --z-index-loader: 10;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: var(--black-dark);
  color: var(--white-regular);
}