@charset "UTF-8";

:root {
  --navbar-bg: #191a1c;

  --orange-extra-dark: #F45A382E; //  accent/orange/50
  --orange-dark: #7b330b;
  --orange-regular: #F45A38;  // accent/orange

  --green-extra-dark: #1a5e49; //  state/green
  --green-dark: #278e6f;
  --green-regular: #3BDFAE; //  state/green

  --red-extra-dark: #4f1212;
  --red-dark: #791c1c;
  --red-regular: #E9283F; // state/red

  --black-dark: #0C0D0F; // surface/black
  --black-regular: #191A1CE0; // surface/100
  --black-light: #FFFFFF08;
  
  --skeleton-color: #FFFFFF14;

  --white-regular: #FFFFFF;
  --white-transparent: #FFFFFF0D;
  --white-transparent-medium: #FFFFFF1A;
  --white-transparent-light: #FFFFFF26;
  --white-transparent-extra-light: #FFFFFF38;

  --border: #FFFFFF08;

  --gray-dark: #FFFFFF2E; // surface/50
  --gray-regular: #5F6163;  // txt/forms
  --gray-light: #9B9DA0;  // txt/200

  --navbar-height: 60px;

  --z-index-navbar: 10;
  --z-index-loader: 10;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: var(--black-dark);
  color: var(--white-regular);
  overflow-anchor: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

// todo стилизовать скроллбар
// /* Главный контейнер скроллбара */
// ::-webkit-scrollbar {
//   width: 4px;
//   height: 4px;
//   background: var(--gray-dark);
// }

// /* Вертикальный бегунок */
// ::-webkit-scrollbar-thumb {
//   background: var(--orange-regular);
//   border-radius: 6px;
// }

// /* Горизонтальный бегунок */
// ::-webkit-scrollbar-thumb:horizontal {
//   background: var(--orange-regular);
//   border-radius: 6px;
// }

// /* Место стыка скролла */
// ::-webkit-scrollbar-corner {
//   background: var(--gray-dark);
// }