.idea
**/.DS_Store
.vscode
node_modules/
postgres-data
**/logs*/

**/yarn.lock
**/.yarnrc.yml
**/.yarn
**/.lockb
**/.log
**/.DS_Store


# Ignore all config.yaml files
**/config.yaml
.env
.env.*
!.env.example
