.idea
node_modules/
postgres-data
/production/modules/logs[manager]/
/production/modules/logs[oracle]/

**/yarn.lock
**/.yarnrc.yml
**/.yarn
**/.lockb

# Ignore all config.yaml files
**/config.yaml

.env
.env.*
!.env.example

