NEXT_PUBLIC_MODE=dev # prod

# Development
NEXT_PUBLIC_MANAGER_DEV=http://localhost:5001
NEXT_PUBLIC_DISPENSER_DEV=http://localhost:5003
NEXT_PUBLIC_ORACLE_DEV=http://localhost:5002

# Production
NEXT_PUBLIC_MANAGER_PROD=https://manager.starton.pro  
NEXT_PUBLIC_DISPENSER_PROD=https://dispenser.starton.pro
NEXT_PUBLIC_ORACLE_PROD=https://oracle.starton.pro

NEXT_PUBLIC_FRONTEND_BROWSER_URL=https://starton.pro
NEXT_PUBLIC_FRONTEND_MINIAPP_URL=t.me/starton_miniapp_dev_bot/StartONDev

NEXT_PUBLIC_CONTRACT_ADDRESS=gh0s1in1hec0deWillBeFineAfterStarton
NEXT_PUBLIC_DISPENSER_ADDRESS=dondarubinWillBeCRAZYAfterStarton
NEXT_PUBLIC_NETWORK=testnet
NEXT_PUBLIC_GOOGLE_ANALYTIC_ID=G-9VQRLL4Q33