@import "@/styles/mixins";

.label {
  font-family: var(--font-manrope);
  transition: color 0.3s ease;
  letter-spacing: 0;
  line-height: normal;

  &.offUserSelect {
    user-select: none;
  }

  &.bold {
    font-weight: bold;
  }

  &.cursive {
    font-style: italic;
  } 

  &.cropped {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
}



// COLORS
.orange {
  color: var(--orange-regular);

  &.disabled {
    color: var(--orange-dark);
  }
}

.white {
  color: var(--white-regular);

  &.disabled {
    color: var(--gray-light);
  }
}

.gray {
  color: var(--gray-light);

  &.disabled {
    color: var(--gray-regular);
  }
}

.red {
  color: var(--red-regular);

  &.disabled {
    color: var(--red-dark);
  }
}

.green {
  color: var(--green-regular);

  &.disabled {
    color: var(--green-dark);
  }
}

.greenDark {
  color: var(--green-dark);

  &.disabled {
    color: var(--green-dark);
  }
}


// SIZES
.semiBold32 {
  @include semiBold32;
}

.medium32 {
  @include medium32;
}

.bold24 {
  @include bold24;
}

.semiBold24 {
  @include semiBold24;
}

.semiBold18 {
  @include semiBold18;
}

.semiBold18 {
  @include semiBold18;
}

.medium16 {
  @include medium16;
}

.bold18 {
  @include bold18;
}

.bold16 {
  @include bold16;
}

.regular16 {
  @include regular16;
}

.regular14 {
  @include regular14;
}

.medium14 {
  @include medium14;
}

.medium10 {
  @include medium10;
}

.regular12 {
  @include regular12;
}