node_modules
postgres-data
modules/onchain

# We don't need em inside container
**/Dockerfile
**/**.Dockerfile
**/docker-compose.yaml
**/bun.lockb

.git
**/.gitignore

*.log
*.tmp
*.temp

.vscode/
.idea/
