.mainBox {
	&.none {
		border-radius: 0;
	}

	&.xs {
		border-radius: 14px;
	}

	&.xl {
		border-radius: 28px;
	}

	&.full {
		border-radius: 999px;
	}

	&.fullWidth {
		width: 100%;
	}	

	&.gray {
		background-color: var(--gray-dark);
	}

	&.orange {
		background-color: var(--orange-extra-dark);
	}

	&.green {
		background-color: var(--green-dark);
	}

	&.transparent {
		border: 1px solid var(--gray-dark);
		background-color: transparent;
	}	
}

.arrowDown {
	position: absolute;
	background-color: var(--black-dark);
	top: -12px;
  border: 1px solid var(--gray-dark);
	padding: 10px 16px;
	border-radius: 40px;
}
