.mainBox {
	&.rounded {
		border-radius: 14px;
	}

	&.roundedXl {
		border-radius: 28px;
	}

	&.fullWidth {
		width: 100%;
	}	

	&.gray {
		background-color: var(--gray-dark);
	}

	&.orange {
		background-color: var(--orange-extra-dark);
	}

	&.green {
		background-color: var(--green-dark);
	}

	&.transparent {
		border: 1px solid var(--gray-dark);
		background-color: transparent;
	}	
}
