.root {
  &.extraSmall {
    width: 34px;
    height: 34px;
  }

  &.small {
    width: 56px;
    height: 56px;
  }

  &.medium {
    width: 78px;
    height: 78px;
  }

  &.large {
    width: 80px;
    height: 80px;
  }
}
