.root {
  backdrop-filter: blur(10px);
}

.paper {
  background-color: var(--navbar-bg);
  border-radius: 14px 14px 0 0;
  align-items: center;
  padding-bottom: 40px;
  max-height: 80vh;
}

.button {
  width: 34px;
  height: 4px;
  background-color: var(--gray-dark);
  border-radius: 10px;
}