.mySwiper {
  width: 100%;
  height: 100%;

  .swiper-pagination-bullet {
    background: var(--gray-dark);
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    background: var(--orange-regular);
  }

  .swiper-slide {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
  }
}